bearlib>=0.9
ninka
ronkyuu
mf2py
pytz
requests
redis
Unidecode
six
beautifulsoup4
html5lib
MarkupSafe
markdown2
python-dateutil
uWSGI

Flask

# Flask Extensions
Flask-Cache
Flask-DebugToolbar
Flask-Script
Flask-WTF
Flask-Redis
