bearlib>=0.9
ninka>=0.3.3
ronkyuu>=0.3.2
pytz>=2015.7
requests>=2.9.1
redis>=2.10.5
Unidecode>=0.4.18
six>=1.10.0
beautifulsoup4>=4.4.1
html5lib>=0.9999999
MarkupSafe>=0.23
mf2py>=1.0.1
python-dateutil>=2.4.2
Flask>=0.10.1
Flask-WTF>=0.12
Jinja2>=2.8
