<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>

  <link rel="webmention"             href="{{ baseurl }}webmention"/>
  <link rel="micropub"               href="{{ baseurl }}micropub"/>
  <link rel="token_endpoint"         href="{{ baseurl }}token"/>
  <link rel="authorization_endpoint" href="https://indieauth.com/auth"/>
</head>
<body>
  <header class="page-header">
    <div class="page-title">
      <h1>Kaku</h1>
      <h2>Micropub endpoint for Flask apps</h2>
    </div>
  </header>

  <div class="page-content">
{% block content %}{% endblock %}
  </div>
  <hr/>
  <footer>
    <div class="h-card">
      <ul class="about">
        <li>&copy; 2016 by <a class="p-name u-url" href="/about">Mike Taylor</a></li>
      </ul>
    </div>
  </footer>
</body>
</html>
