{% extends "base.jinja" %}
{% block content %}        
<h1>Sign In</h1>
<form action="" method="post" name="login">
    domain: {{form.me(size=20)}}
    {{form.hidden_tag()}}
    <p><button type="submit">Sign In</button></p>
</form>
{% endblock content %}
